 * {
   margin: 0;
   padding: 0;
   box-sizing: inherit;
 }

body {
   box-sizing: border-box;
 }

html {
   font-size: 62.5%;
 }

/* App Structure */

.App {
  text-align: center;
  display: flex;
}

.App__sidebar {
  display: flex;
  flex: 1 1 25%;
  background-color: grey;
  width: 30rem;
  height: 100vh;
}

.App__posts {
  background-color: white;
  flex: 1 1 50%;
}

.App__randompost {
  background-color: grey;
  flex: 1 1 25%;
}